 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
 }

 body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /*Faz com que bloqueia barra de rolamento*/
    background: linear-gradient(to bottom, #2a1b6d, #5c44a2);
    position: relative; /* serve para posicionar um elemento em relação à sua posição original no fluxo normal da página. 
    Ou seja, ele permanece no local onde estaria normalmente, 
    mas você pode ajustar sua posição usando as propriedades top, right, bottom e left.*/
 }

 .estrelas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
    radial-gradient(2px 2px at 50% 40%, #fff, transparent),
    radial-gradient(2px 2px at 25% 15%, #fff, transparent),
    radial-gradient(2px 2px at 60% 30%, #fff, transparent),
    radial-gradient(2px 2px at 80% 10%, #fff, transparent),
    radial-gradient(2px 2px at 70% 90%, #fff, transparent),
    radial-gradient(2px 2px at 11% 15%, #fff, transparent),
    radial-gradient(2px 2px at 12% 80%, #fff, transparent),
    radial-gradient(2px 2px at 25% 90%, #fff, transparent),
    radial-gradient(2px 2px at 47% 94%, #fff, transparent)

    
    


 }

 .container {
    width: 420px;
    background-color: transparent ;
    border: 2px solid rgba(255, 255,255, .2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 30px 40px;
    backdrop-filter: blur(300px);
}

 h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
 }

 .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
 }

.input-box input {
    /* background-color: transparent; */
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
}

/* .input-box input::placeholder {
    color: rgb(215, 215, 215);
} */

.input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.Lembrar-Esquecer {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    color: #fff;
}

.Lembrar-Esquecer input{
    accent-color: #fff;
    margin-right: 5px;
}

.Lembrar-Esquecer a {
    color: #fff;
    text-decoration: none;
}

.Lembrar-Esquecer a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.registrar {
    font-size: 14px;
    text-align: center;
   margin: 20px 0 15;
   color: #fff;
}

.registrar a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.registrar a:hover {
    text-decoration: underline;
}

